<html>
  <head>
    <title>mypoll</title>
  </head>
  <body>
    <h1>Only you poll</h1>
    <h2 id="question{{question.id}}">{{ question.question_text }}</h2>
    <form action="{% url 'mypoll:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input id ="vote" type="submit" value="Vote">
    </form>
  </body>
</html>